# Bot settings
bot:
  token: 
  prefix: 'u!'
  presence: 
    message: Diskusjoner om borgerlønn
    activity: listening
    type: dnd

# Api keys
api:
  clarifai: 

# Google event scheduler
event_scheduler:
  sheet_id: 
  guild_id: 
  channel_id: 

# Emoji
emoji:
  online: <:online:516328785910431754>
  idle: <:idle:516328783347843082>
  dnd: <:dnd:516328782844395579>
  offline: <:offline:516328785407246356>

# Misc
misc:
  website: https://uiogaming.no
  source_code: https://github.com/UiO-Gaming/uiogaming-bot